/*
    Author: Vrushabh Dhatrak
    Release: 0.1
    Description : It's a form css file
*/
.form-control {
    background-color:var(--bg-color);
    border:2px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.btn-login {
    width: 55%;
    max-width: inherit;
    background-color: var(--primary-color);
    border: none;
    font-weight: bold;
    color: #fff;
    border-radius: 0.5rem;
}